{% extends '::base.html.twig' %}


{% block stylesheets %}
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="{{ asset('admin/css/main.css') }}" rel="stylesheet">
{% endblock %}

{% block bodyclass %}nav-md{% endblock %}
{% block body %}
    <div class="container body">
        <div class="main_container">

            {% include 'admin-sidebar.html.twig' %}

            {% include 'admin-topbar.html.twig' %}

            <div class="right_col" role="main">
                <div class="">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}

    <script type="application/javascript" src="{{ asset('admin/js/main-admin.js') }}"></script>
{% endblock %}