{% extends 'layout-front.html.twig' %}

{% block header %}
    <header class="intro-header" style="background-image: url({{ asset('front/img/home-bg.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Symfony Sample Blog Project</h1>
                        <hr class="small">
                        <span class="subheading">Un projet d'exemple pour les étudiants</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}

    {% for article in articles %}
        <div class="post-preview">
            <a href="">
                <h2 class="post-title">
                    {{ article.title }}
                </h2>
                <h3 class="post-subtitle">
                    {{ article.hat }}
                </h3>
            </a>
            <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
        </div>
        <hr>
    {% endfor %}



    <!-- Pager -->
    {#<ul class="pager">#}
        {#<li class="next">#}
            {#<a href="#">Older Posts &rarr;</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock content %}